* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #202020;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header-area {
    padding: 25px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
}

.logo ul {
    list-style: none;
}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li a {
    display: block;
    margin: 0 15px;
    color: #fff;
    transition: .3;
}

.header ul li a:hover {
    color: #ffbd36;
}

.btn {
    display: inline-block;
    background-color: #ffbd36;
    padding: 10px 20px;
    border-radius: 3px;
    color: #333;
    font-weight: 600;
    border: 1px solid transparent;
    transition: .3s;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #333;
    color: #fff;
    border-color: #ffbd36;
}

.menu-icon {
    display: none;
}

.bannar-area {
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.bannar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannar-content h5 {
    text-transform: capitalize;
    font-size: 23px;
    color: #fff;
}

.bannar-content h2 {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 80px;
    color: #fff;
}

.bannar-content h4 {
    text-transform: capitalize;
    font-size: 26px;
    margin-bottom: 20px;
    color: #fff;
}

.bannar-content p {
    max-width: 600px;
    margin-bottom: 30px;
    color: #fff;
}

.bannar-content h2 span {
    color: #ffbd36;
}

.bannar-img img {
    background-color: #ffbd36;
    border-radius: 50%;
    padding: 20px;
    width: 100%;
}

.about-area {
    background-color: #2a2a2a;
    padding: 100px 0;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-content {
    flex-basis: 65%;
}

.about-content h4 {
    font-size: 40px;
    line-height: 70px;
    color: #ffbd36;
    text-transform: capitalize;
}


.about-content p {
    margin-bottom: 15px;
    color: #fff;
}

.about-info {
    flex-basis: 30%;
}

.about-info ul {
    list-style: none;
    padding: 0;
    color: #fff;
}

.about-content ul li {
    border-bottom: 1px dashed #ddd;
}

.about-info ul li {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.about-info ul li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.services-area {
    padding: 100px 0 70px;
}

.sevices-area {
    padding: 100px 0 70px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
    color: #fff;
}

.section-title h4 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 14pxpx;
    color: #fff;
}

.single-services p {
    color: #fff;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-services {
    background-color: #2a2a2a;
    padding: 25px;
    flex-basis: 32%;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 3px;
}

.single-services i {
    background-color: #ffbd36;
    color: #333;
    font-size: 26px;
    width: 62px;
    height: 52.8px;
    line-height: 60px;
    border-radius: 50%;
}


.single-services h4 {
    font-size: 28px;
    text-transform: capitalize;
    margin: 25px 0;
    color: #fff;
}

.resume {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-resume {
    padding: 30px;
    background-color: #202020;
    border-radius: 7px;
    flex-basis: 49%;
    margin-bottom: 30px;
}

.resume-area {
    background-color: #2a2a2a;
    padding: 100px 0 70px;
}

.single-resume {
    display: block;
    font-size: 18px;
}

.single-resume h4 {
    font-size: 35px;
    line-height: 60px;
    color: #ffbd36;
}

.single-resume h5 {
    font-size: 21px;
    margin-bottom: 24px;
    color: #ddd;
}

.single-resume p {
    color: #ddd;
}

.single-resume span {
    color: #ddd;
}

.project-area {
    padding: 100px 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-project {
    flex-basis: 32%;
    height: 300px;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}

.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.project-content:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: .9;
    z-index: -1;
}

.single-project:hover .project-content {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.single-project h4 {
    text-transform: capitalize;
    font-size: 20px;
    color: #ddd;
}

.single-project span {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    color: #ddd;
}

.contact-area {
    background-color: #2a2a2a;
    padding: 100px 0;
}



.contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form {
    flex-basis: 65%;
}

.contact-form input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-form input[type="submit"] {
    border: 0;
    cursor: pointer;
    width: auto;
    padding: 13px 40px;
}

.contact-info {
    flex-basis: 7%;
}

.single-contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.single-contact i {
    background-color: #ffbd36;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    margin-right: 16px;
}

.single-contact h4 {
    color: #ddd;
    font-size: 20px;
    text-transform: uppercase;
}

.single-contact h4 span {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}


.footer-area {
    text-align: center;
    padding: 60px 0;
    color: #ddd;
    height: 40px;

}

.footer-area a {
    border: 1px solid #ddd;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 19px;
    margin: 0 10px;
    border-radius: 50%;

}

/*Medium device */

@media only screen and (min-width:992px) and (max-width:1200px) {
    .container {
        width: 970px;

    }
}

/*Tablet device */
@media only screen and (min-width:768px) and (max-width:992px) {
    .container {
        width: 750px;
    }

    .header a.btn {
        padding: 5px 10px;
        font-size: 11px;
    }

    .single-resume h4 {
        font-size: 22px;
        line-height: 40px;
        color: #ffbd36;
    }

    .single-resume h5 {
        font-size: 17px;
        margin-bottom: 22px;
        color: #ddd;
    }
}

/* mobile device */
@media only screen and (max-width: 767px) {
    .container {
        width: 350px;
    }

    .menu-icon{
        display: block;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }

    .header ul {
        position: absolute;
        flex-direction: column;
        background-color: #333;
        top: 70px;
        width: 100%;
        left: 0;
        padding: 20px;
        display: none;
    }

    .header ul.open {
        display: block;
    }

    header ul li a {
        padding: 10px 0;
    }

    .header a.btn {
        display: none;
    }

    .bannar {
        flex-direction: column;
    }

    .bannar-content h2 {

        font-size: 36px;
        line-height: 65px;
    }

    .bannar-content h4 {
        font-size: 21px;
    }

    .bannar-img {
        margin-top: 30px;
    }

    .about {
        flex-direction: column;
    }

    .about-content,
    .single-project,
    .about-info,
    .single-services,
    .single-resume,
    .contact-form {
        flex-basis: 100%;
    }

    .single-project {
        margin-bottom: 15px;
    }

}